.invoice-card {
  height: 130px;
  width: 95%;
  margin: 10px auto;

  .content {
    display: flex;

    .invoice-card-header {
      .text {
        font-size: 14px;
        height: 30px;
      }
    }

    span{
        font-weight: bold;
    }

    .invoice-card-body {
      .text {
        font-size: 14px;
        height: 30px;
      }
    }
  }

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}
