.invoice-card {
  height: 11rem;
  width: 95%;
  margin: 10px auto;

  .content {
    display: flex;

    .text {
      font-size: 14px;
      height: 30px;
    }

    span {
      font-weight: bold;
    }
  }

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
}
