.invoice-card {
  height: 11rem;
  width: 95%;
  margin: 10px auto;

  .content {
    display: flex;
    gap: 15px;

    .text {
      font-size: 14px;
      height: 30px;
      word-break: break-all;
    }

    span {
      font-weight: bold;
    }
  }

  &:hover {
    background-color: bisque;
    cursor: pointer;
  }
 
}


.status-outstanding {
  background-color: lightblue !important;
}

.status-paid {
  background-color: lightgreen !important;
}

.status-late {
  background-color: lightcoral !important;
}